<div id="launchScreen" ng-controller="launchScreenController">
    <div id="bannerPanel">
        <i class="material-icons pollGraphic">poll</i>
    </div>
    <div id="launchPanel">
        <button class="btn" ng-click="launch.vote()">Start election</button>
        <button class="btn" ng-click="launch.configs()">Edit configs</button>
        <button class="btn" ng-click="launch.results()">View election results</button>
        <button class="btn" ng-click="launch.settings()">Settings</button>
    </div>
</div>
